html, body{
    background-color: rgb(196, 221, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
section{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    width: 150%
    height: 5005%
    margin: 900px;
    border-radius: 20px;

    
}





.miestilo{
    color: gray;
    text-align: center;
    font-size: smaller;

}
button{
    background-color: rgb(77, 124, 244);
    color: white;
    width: 350px
    
}
img{
    position: relative;
    top: 30px;
    margin-left: 114px; 
}
input{
    display: block;
    
}
label{
    align-items: center;
}

.final{
    font-size: small;
    font-style: normal;
    color: gray;

}
b{
    color: black;
}