html, body{
    background-color: rgb(196, 221, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
}
section{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.2cm;
    height: 50%;
    
    border-radius: 6px;
    
    
    

    
}
h1{
    text-align: center;
    align-items: center;
}




.miestilo{
    color: gray;
    text-align: justify;
    font-size: smaller;

}
button{

    
    background-color: rgb(77, 124, 244);
    color: white;
    width: 10cm;
    height: 1.5cm;
    border-radius: 5px;
    
}
img{
    position: relative;
    top: 30px;
    margin-left: 249px; 
}
input{
    display: block;
    height: 1cm;
    width: 10cm;
    border-radius: 5px;
    border-width: thin;
    
    
}

    

form{

}
.final{
    font-size: small;
    font-style: normal;
    color: gray;
    text-align: center;
    justify-content: center;
    
}
.register{
    color: black;
    
}
.espacio{
    color: rgb(239, 236, 236);
}